<section class="formContainer">

        <div class="show" *ngIf="selectedSolar!=null">
                <h4> Details For Heater Id: {{selectedSolar.solarHeaterId}} </h4>
                <table class="table table-bordered">
                        <tr>
                          <th>Customer ID </th>
                          <th>Distributor Name</th>
                          <th>Purchase Date</th>
                          <th>Installation Date</th>
                        </tr>
                        <tr>
                          <td>{{ selectedSolar.customerId }}</td>
                          <td>{{ selectedSolar.distributorName }}</td>
                          <td>{{ selectedSolar.purchaseDate}}</td>
                          <td>{{ selectedSolar.installationDate }}</td>
                        </tr>
                      
                      </table>
        </div>
        <h4>Allocation Details</h4>

        

        <select  [(ngModel)]="selectedId" (change)="displaySelected()">
                <option [value]="h" disabled>Heater Id</option>
                <option [value]="heater" *ngFor="let heater of solarHeaterIds" >{{heater}}</option>
        </select>
        
            
</section>